<div class="landing-page">

    <app-carousel></app-carousel>
    <section class="hero-section">
        <!-- Left content -->
        <div class="hero-left">
            <h1>Unlock a world of
                professional growth
                & collaboration with Busihunt.</h1>
            <p>Step into a realm where your career aspirations meet opportunity.
                With Busihunt, you're not just joining a forum; you're becoming part of a
                vibrant ecosystem dedicated to mutual success, innovation, and professional growth.
            </p>
            <div class="hero-buttons">
                <button class="btn about">ABOUT US</button>
                <button class="btn join">JOIN NOW</button>
            </div>
            <p class="hero-badge">100+ Members active this week in Puducherry & Chennai</p>
        </div>

        <!-- Right cards -->
        <div class="hero-right">
            <div class="stat-card blue">
                <h2>Active Network</h2>
                <p>+24% growth this month</p>
            </div>
            <div class="stat-card red">
                <i class="fas fa-certificate"></i>
                <h2>100% Certified Network</h2>
                <p>Trusted by professionals</p>
            </div>
            <div class="stat-card blue">
                <h2>₹1.2M+</h2>
                <p>Referral Revenue Generated</p>
            </div>
        </div>

    </section>



</div>