<header class="header">
  <div class="header-inner">

    <div class="logo-section">
      <img src="/assets/busihunt.png" class="logo" />
    </div>

    <nav class="nav-menu">
      <a routerLink="/home/landing-page"><i class="fas fa-home"></i> Home</a>
      <a routerLink="/home/who-we-are"><i class="fas fa-users"></i> Who we are</a>
      <a routerLink="/home/find-chapter"><i class="fas fa-map-marker-alt"></i> Find a chapter</a>
      <a routerLink="/home/team"><i class="fas fa-user-friends"></i> Team</a>
      <a routerLink="/home/gallery"><i class="fas fa-images"></i> Gallery</a>
      <a routerLink="/signup"><i class="fas fa-user-plus"></i> SignUp</a>
    </nav>

  </div>
</header>